
body{
    /* background-color: darkkhaki;
    background-image: url(leo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed; */
    background: rgb(246,255 , 146) url(leo.png) no-repeat fixed; 
    background-size: contain;
    background: url(t3.png) repeat-y,
                url(t4.png) repeat-y right top,
                url(leo.png)

}


p{background-color: rgba(0, 128, 0, 0.07); color: greenyellow;
    /* text-align: center ; */
}

