html, body{
    margin: 0;
    padding: 0;
    background: #336699;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
    background: white;
}

.header{
    background: url(images/backgroung_top.jpg);
    height: 176px;
    text-align: right;
}

.header img{
    margin: 30px 30px 0 0;
}

.line{
    background: url(images/line.png);
    height: 31px;
}

.menu{
    width: 200px;
    float: left;
}

.menu ul{
    list-style: none;
    font-weight: bold;
    padding-left: 20px;
}

.menu li{
    margin: 10px;
    color: #336699;
}

.menu a{
    color: #336699;
}
.content{
    margin-left: 210px;
    margin-right: 20px;
}

.content h3{
    color: #336699;
    text-align: center;
}

.map-img{
    float: left;
    margin: 20px 10px 0 0;
}
.content p {
    text-align: justify;
}

.footer{
    clear: left;
    background: url(images/backgroung_bottom.jpg);
    height: 164px;
    text-align: center;
  
}

.footer p{
    padding-top: 120px ;
    color: #fff;
}

.map{
    margin-top: 20px;
}
.content ul{
    list-style: none;
}

.content ul li{
    float: right;
    margin: 1px;
    font-size: smaller;
}

.content ul a{
    color: #336699;
}
.country{
    padding: 20px 15px;
    width: -200px;
    float: inline-start;
    font-size: 110%;
    

}

.country ul{
    margin: 10px;
    color:rgb(96, 95, 95);
    font-weight: bolder;
}
.country table{
    border-spacing: 1px;
    margin-bottom: 14px;
}
